PORT=5000
PAYSTACK_PUBLIC_KEY=pk_live_xxxxxxxxxxxxx
PAYSTACK_SECRET_KEY=sk_live_xxxxxxxxxxxxx
TELEGRAM_BOT_TOKEN=xxxxxxxxx:xxxxxxxxxxxxxxxxxxx
5SIM_API_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
DATABASE_URL=your_database_url_here
